.Login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.FlexForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Form{
    height:auto;
}

.flex-1 {
    flex: 1;
}

.d-grid {
    display: grid;  
}

.grid-template-rows-1fr-1fr {
    grid-template-rows: 1fr 1fr;
}

.grid-template-columns-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}
