<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatWebSite</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

@{
    string userId = null;
    UserManager<User> userManager = null;
    User user = null;
    if (User.Identity.IsAuthenticated)
    {
        userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
        userManager = (UserManager<User>)
            Context.RequestServices.GetService(typeof(UserManager<User>));
        user = await userManager.GetUserAsync(User);
    }
}

<body>
    <div class="wrapper">
        <header class="header">
            <a href="/Home/Index" class="logo header__logo">ChatWebSite</a>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="user">
                    <div class="user__block" id="user-menu-button">
                        <div class="user__description">
                            <div>@user.UserName</div>
                            <div class="user__login">@user.Login</div>
                        </div>
                    </div>
                    <div class="user-menu" id="user-menu">
                        <div class="user-menu__wrapper">
                            <a href="/User/Edit" class="user-menu__button">Настройки</a>
                            <a href="/Account/Logout" class="user-menu__button">Выход</a>
                        </div>
                    </div>
                </div>
            }
        </header>
        <div class="header-wrap"></div>
        <main role="main" class="main">
            @RenderBody()
        </main>
        <footer class="footer">
            <div class="footer__about">
                &copy; 2021 - ChatWebSite - <a href="https://github.com/egordarkoverlord" class="link">О нас</a>
            </div>
        </footer>
    </div>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
