@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/validation.css" asp-append-version="true" />
}
<div class="register">
    <div class="form-block register__form-block">
        <form asp-antiforgery="true" asp-action="Register" asp-controller="Account" class="form register-form" method="post">
            <h1 class="register__title">Регистрация</h1>
            <span asp-validation-for="Email"></span>
            <input type="text" placeholder="Эл. почта" asp-for="Email" class="text-input register-form__text-input" />
            <span asp-validation-for="Name"></span>
            <input type="text" placeholder="Имя" asp-for="Name" class="text-input register-form__text-input" />
            <span asp-validation-for="Login"></span>
            <input type="text" placeholder="Логин" asp-for="Login" class="text-input register-form__text-input" />
            <span asp-validation-for="Password"></span>
            <input type="password" placeholder="Пароль" asp-for="Password" class="text-input register-form__text-input" />
            <span asp-validation-for="ConfirmPassword"></span>
            <input type="password" placeholder="Подтвердите пароль" asp-for="ConfirmPassword" class="text-input register-form__text-input" />
            <input type="submit" class="button register-form__button" name="name" value="Зарегистрироваться" />
            <a class="link" href="/Account/Login">Назад</a>
        </form>
    </div>
    <div class="register__about">
        <p>ChatWebSite - это платформа для общения. Находите здесь друзей и общайтесь с ними</p>
    </div>
</div>
@section Scripts{
    <script src="~/js/validator.js" asp-append-version="true"></script>
}