@import "variables.scss";
@import "mixins.scss";
@import "initialize.scss";
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

//https://9elements.com/css-rule-order/#:~:text=Order%20of%20CSS%20layouting%20as,%3A%20position%20%2C%20float%20%2C%20display%20.

body {
    background-color: $background-color;
    color: $text-color;
}

.link {
    @include clickable_base(color);
    align-self: start;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-block {
        border-radius: 20px;
        background-color: $form-background-color;
        box-shadow: $box-shadow;
    }
}

.button {
    @include clickable_base(background-color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: $light-text-color;
}

.text-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: $text-input-color;
}

.logo {
    color: $light-text-color;
    font-family: Consolas;
    font-size: 40px;
}

.header {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: $base-color;

    &__logo {
        margin: auto 50px;
    }

    &-wrap {
        height: $header-height;
    }
}

.footer {
    border-top: 1px solid transparentize($muted-text-color, 0.8);
    width: 100%;
    height: $footer-height;

    &__about {
        margin: 10px 10px;
    }
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 10%;

    $padding-element: 40px;

    &__form-block {
        margin: auto;
        width: 400px;
        height: 400px;
    }

    &__title {
        margin: 0;
        margin-bottom: $padding-element / 2;
        text-align: center;
        font-weight: 700;
    }

    &-form {
        margin: 0 $padding-element;
        height: 100%;

        &__text-input {
            margin-bottom: $padding-element / 2;
            padding: 10px;
        }

        &__button {
            margin-bottom: $padding-element / 4;
            padding: 10px;
            width: 100px;
        }
    }

    &__about {
        margin: auto;
    }
}

.register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 10%;

    $padding-element: 40px;

    &__form-block {
        margin: auto;
        width: 400px;
        height: 600px;
    }

    &__title {
        margin: 0;
        margin-bottom: $padding-element / 2;
        text-align: center;
        font-weight: 700;
    }

    &-form {
        margin: 0 $padding-element;
        height: 100%;

        &__text-input {
            margin-bottom: $padding-element / 2;
            padding: 10px;
        }

        &__button {
            margin-bottom: $padding-element / 4;
            padding: 10px;
            width: 200px;
        }
    }

    &__about {
        margin: auto;
    }
}

.chatbox {
    overflow-y: scroll;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    height: 70vh;
    background-color: $form-background-color;
    border-radius: 20px;
    box-shadow: $box-shadow;

    &__wrapper {
        margin: 20px;
    }

    &__button {
        margin-bottom: 20px;
    }
}

.chat {
    @include clickable_chat(background-color);
    border-radius: 20px;
    cursor: default;

    &__wrapper {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
    }

    &__title {
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $modal-background-color;

    &_disabled {
        display: none;
    }

    &_enabled {
        display: flex;
    }

    $padding-element: 40px;

    &__form-block {
        margin: auto;
        width: 400px;
        height: 400px;
    }

    &-form {
        margin: 0 $padding-element;
        height: 100%;

        &__text-input {
            margin-bottom: $padding-element / 2;
            padding: 10px;
        }

        &__button {
            margin-bottom: $padding-element / 4;
            padding: 10px;
            width: 200px;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: $padding-element / 2;
        text-align: center;
        font-weight: 700;
    }
}

.messagebox {
    overflow-y: scroll;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    height: 70vh;
    background-color: $form-background-color;
    border-radius: 20px;
    box-shadow: $box-shadow;

    &__wrapper {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}

.message {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: $box-shadow-mini;

    &__wrapper {
        margin: 10px;
    }

    &_member-message {
        margin-right: auto;
        background-color: $message-member-color;
    }

    &_user-message {
        margin-left: auto;
        background-color: $message-user-color;
        color: $light-text-color;
    }
}

.write {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;

    $padding-element: 20px;

    &__form-block {
        display: flex;
        width: 100%;
    }

    &-form {
        flex-direction: row;
        margin: $padding-element;
        width: 100%;
        height: 100%;

        &__text-input {
            padding: 10px;
            width: 80%;
        }

        &__button {
            padding: 10px;
            width: 20%;
            min-width: 150px;
        }
    }
}
