$base-color: #3d7aa2;
$base-color-hover: #4f97c7;
$base-color-active: #0056b3;

$background-color: #eef0f6;
$modal-background-color: rgba(196, 210, 220, 0.80);

$text-color: #404050;
$muted-text-color: #9090b5;
$light-text-color: #f0f0ff;
$muted-light-text-color: #c0c0d0;

$danger-color: #b94a48;
$danger-color-hover: #d15755;
$danger-color-active: #a1413f;

$form-background-color: #fefefe;
$form-background-color-hover: #eaeef8;
$form-background-color-active: #dadee8;

$text-input-color: #f0f0f0;

$message-member-color: #e0e6fa;
$message-user-color: $base-color;

$transition: 0.1s ease;

$header-height: 60px;
$footer-height: 60px;

$box-shadow: 0 1.25rem 1.75rem rgba(0, 0, 0, .1);
$box-shadow-mini: 0 0.125rem 0.375rem rgba(0, 0, 0, .2);
