@model ChangePasswordModel

@{
    ViewData["Title"] = "Изменение пароля";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/validation.css" asp-append-version="true" />
}

<div class="form-block change-password__form-block">
    <form asp-antiforgery="true" asp-action="ChangePassword" asp-controller="User" method="post" class="form change-password-form">
        <h1 class="change-password__title">Изменение пароля</h1>
        <span asp-validation-for="NewPassword"></span>
        <input type="password" asp-for="NewPassword" placeholder="Новый пароль" class="text-input change-password-form__text-input" />
        <span asp-validation-for="ConfirmNewPassword"></span>
        <input type="password" asp-for="ConfirmNewPassword" placeholder="Подтвердите пароль" class="text-input change-password-form__text-input" />
        <input type="submit" class="button change-password-form__button" value="Сохранить изменения" />
        <a class="link" href="/User/Edit">Назад</a>
    </form>
</div>

@section Scripts
{
    <script src="~/js/validator.js" asp-append-version="true"></script>
}
